*{box-sizing: border-box; margin: 0; padding: 0;}
html{
  font-size: 62.5%;
  min-height: 100%;
}
body{
  background: linear-gradient(to bottom, #4000FF, #A100FF 17%, white 180%);
  background-attachment: fixed;
  /* background: linear-gradient(120deg, #4000FF, #A100FF 50%, white 150%); */
  /* background: linear-gradient(#FF8700, #FF8700, orangered); */
  font-family: 'Nunito', sans-serif;
  font-size: 1.6rem;
}
.header{
  height: 62px;
}
.header__img{
  width: 200px;
  margin-left: 10px;
}
.signin{
  background-color: rgba(255,255,255,0.2);
  border-radius: 25px;
  box-shadow: 3px 3px 35px dimgray;
  margin: 50px auto 0;
  padding: 40px 50px 30px;
  width: 35%;
  min-width: 350px;
  text-align: center;
  font-size: 2.5rem;
}
.signin__form{
  padding: 40px 0;
}
.input{
  background: none;
  border: none;
  border-bottom: 2px solid blue;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  font-family: 'Nunito', sans-serif;
  margin-bottom: 25px;
  outline: none;
  padding: 5px 15px;
  width: 100%;
}
::placeholder{
  color: rgba(255,255,255,0.6);
}
.button{
  background-color: rgba(255,255,255,0.7);
  border: 2px solid dodgerblue;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1.6rem;
  letter-spacing: 1px;
  padding: 10px;
  text-transform: uppercase;
  transition: 250ms all;
  width: 100%;
}
.button:hover{
  background-color: rgba(255,255,255);
}
.signin__login{
  font-size: 1.7rem;
  text-align: center;
}
.footer{
  position: relative;
  top: 55px;
  font-size: 1.6rem;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
}
.footer a{
  margin: 0 20px 10px;
}
.anchor{
  color: blue;
  text-decoration: none;
}
.anchor:hover{
  text-decoration: underline;
}
@media (max-width: 425px){
  .footer{
    position: absolute;
    top: auto ;
    bottom: 10px;
    font-size: 1.4rem;
  }
}
@media (max-width: 320px){
  .header__img{
    margin-top: 5px;
    width: 150px;
  }
  .signin{
    min-width: 270px;
    font-size: 2rem;
    padding: 30px 40px 20px;
  }
  .signin__form{
    padding: 20px 0;
  }
  .input{
    font-size: 1.5rem;
  }
  .button{
    padding: 3px;
  }
  .footer{
    font-size: 1.2rem;
  }
}
